body {
    margin: 0;
    padding: 20px;
    background: #f8f5f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* LOGO */
.logo-area {
    margin-top: 20px;
    margin-bottom: 10px;
}

.logo {
    width: 280px;
    max-width: 85%;
}

/* CARD */
.box {
    background: white;
    max-width: 420px;
    margin: auto;
    padding: 25px;
    border-radius: 22px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

/* TITULO */
.box h2 {
    color: #c97c63;
    margin-bottom: 10px;
}

.box p {
    color: #777;
    margin-bottom: 25px;
}

/* INPUT */
input[type="file"] {
    width: 100%;
    margin-bottom: 20px;
}

/* BOTÕES */
button {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 14px;
    background: #c97c63;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.02);
    opacity: 0.95;
}

/* MENSAGEM */
#msg {
    margin-top: 20px;
    font-weight: bold;
    color: #666;
}

/* GALERIA */
#gallery {
    margin-top: 30px;

    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(150px, 1fr));

    gap: 12px;

    max-width: 900px;

    margin-left: auto;
    margin-right: auto;
}

#gallery img {
    width: 100%;
    border-radius: 16px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
```
